In [7]:
import pandas as pd
import mysql.connector
from mysql.connector import Error


df = pd.read_csv('final_cleaned_credit_risk.csv')


connection = None

\
try:
    connection = mysql.connector.connect(
        host='localhost',  
        port=3306,
        user='root',      
        password='****',  
       
    )
    if connection.is_connected():
        print("Connected to MySQL database")
        
       
        cursor = connection.cursor()
        cursor.execute("create database credit_bridge")
        cursor.execute("use credit_bridge")
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS raw_credit (
            person_age INT,
            person_income FLOAT,
            person_home_ownership VARCHAR(50),
            person_emp_length FLOAT,
            loan_intent VARCHAR(50),
            loan_grade VARCHAR(10),
            loan_amnt FLOAT,
            loan_int_rate FLOAT,
            loan_status INT,
            loan_percent_income FLOAT,
            cb_person_default_on_file VARCHAR(10),
            cb_person_cred_hist_length INT
        )
        """)
        print("Table 'raw_credit' created or already exists")
        
        
        for _, row in df.iterrows():
            cursor.execute("""
            INSERT INTO raw_credit VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """, tuple(row))
        
        connection.commit()
        print(f"Data inserted successfully! {len(df)} rows added.")
        
        
        cursor.execute("SELECT COUNT(*) FROM raw_credit")
        result = cursor.fetchone()
        print(f"Total rows in table: {result[0]}")
        
except Error as e:
    print(f"Error: {e}")

Connected to MySQL database
Table 'raw_credit' created or already exists
Data inserted successfully! 32409 rows added.
Total rows in table: 32409